<!doctype html>
<html>

<head>
    <title>Интеллектуальная обучаюшая система по матрицам</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center autoriz">
            <p class="autoriz-p">Добро пожаловать</p>
            <p><b>Matrix</b> - это интеллектуальная система для обучения пользователя матрицам (основным понятиям, видам, вычислению определеителей, операциям). Зарегистрированный пользователь имеет полный доступ ко всему функционалу продукта, включая тестирование по различным разделам (виды матриц, определители, основные понятия и т.д.), профиль пользователя, с отображением прогресса роста и другие функции.</p>
            <hr>
            <p>Для того, чтобы начать пользоваться приложением необходимо авторизоваться</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Вход</a>
            <a href="/signup" class="btn btn-success"><span class="fa fa-user"></span> Регистрация</a>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
<script src="/js/main.js"></script>

</html>