<!doctype html>
<html>

<head>
    <title>Уровень знаний матриц</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
<div class="user-name">
    <p><span class="fa fa-user"></span>
        <span>Здравствуйте, <%= user.email %></span>
        <a href="/logout" class="btn btn-success logout-btn">Выйти</a>
    </p>
</div>
<div class="container-fluid">
    <div class="jumbotron text-center">
        <h2>Выберите свой уровень</h2>
        <br/>
        <div class="row">
            <div class="col-xs-3">
                <div class="well">
                    <a href="/theory" class="btn btn-profile">Не изучал</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="well">
                    <a href="/profile?defaultRank=1" class="btn btn-profile">Начинающий</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="well">
                    <a href="/profile?defaultRank=2" class="btn btn-profile">Общие знания</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="well">
                    <a href="/profile?defaultRank=3" class="btn btn-profile">Глубокие знания</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <div class="well footer">
                <p>BSUIR 2016</p>
            </div>
        </div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
<script src="/js/main.js"></script>

</html>