<!doctype html>
<html>

<head>
    <title>Вход</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
<div class="container-fluid">
    <div class="matrix-row">
        <div class="col-sm-6 col-sm-offset-3 autoriz">
            <h2><span class="fa fa-sign-in"></span> Логин</h2>
            <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Логин</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">Вход</button>
            </form>
            <br>
            <p>Нет аккаунта? <a href="/signup">Регистрация</a></p>
            <p><a href="/">Главная страница</a>.</p>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
<script src="/js/main.js"></script>

</html>