<!doctype html>
<html>

<head>
    <title>Профиль</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
<div class="user-name">
    <p><span class="fa fa-user"></span>
        <span>Здравствуйте, <%= user.email %></span>
        <a href="/logout" class="btn btn-success logout-btn">Выйти</a>
    </p>
</div>
<div class="container-fluid jumbotron text-center">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="well matrix-title">
                <h3><span class="fa fa-user"></span>Профиль пользователя</h3>
                <p>
                    <strong>Имя</strong>:
                    <%= user.email %><br>
                </p>
                <p>
                    <strong>Рейтинг</strong>:
                    <%= user.rank %><br>
                </p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <% if (!user.rank) { %>
        <div class="col-sm-12">
            <div class="alert alert-danger text-center">
                <p>Пройдите первый тест для определения вашего уровня знаний</p>
                <p><a href="/first_test" class="btn btn-danger">Пройти тест</a></p>
            </div>
        </div>
        <% }
        else { %>
        <div class="col-sm-6">
            <div class="well">
                <a href="/test" class="btn btn-profile">Начать тест</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <a href="/theory" class="btn btn-profile">Теоритические материалы</a>
            </div>
        </div>
        <% } %>

    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <div class="well footer">
                <p>BSUIR 2016</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
<script src="/js/main.js"></script>


</html>