<!doctype html>
<html>

<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3 autoriz">
        <h2><span class="fa fa-sign-in"></span> Регистрация</h2>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Логин</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Регистрация</button>
        </form>
        <br>
        <p>Уже есть аккаунт? <a href="/login">Вход</a></p>
        <p><a href="/">Главная страница</a>.</p>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
<script src="/js/main.js"></script>

</html>