<!doctype html>
<html>

<head>
    <title>Тесты</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
<div class="user-name">
    <p><span class="fa fa-user"></span>
        <span>Здравствуйте, <%= user.email %></span>
        <a href="/logout" class="btn btn-success logout-btn">Выйти</a>
    </p>
</div>
<div class="container-fluid text-center">
    <h1>Тестирование</h1>
    <% for (var i = 0; i < tasks.length; i++) { %>
    <div class="jumbotron matrix-task">
        <form id="<%= tasks[i].id %>">
            <p>
                <b><span class="speak"><%= tasks[i].question %></span></b>
            </p>
            <input type="radio" name="answer" value="answer1" checked>
            <span class="speak"><%= tasks[i].answer1 %></span><hr>
            <input type="radio" name="answer" value="answer2">
            <span class="speak"><%= tasks[i].answer2 %></span><hr>
            <input type="radio" name="answer" value="answer3">
            <span class="speak"><%= tasks[i].answer3 %></span><hr>
            <input type="radio" name="answer" value="answer4">
            <span class="speak"><%= tasks[i].answer4 %></span>
        </form>
    </div>
    <% } %>
    <button class="btn btn-success" onclick="process();">Готово!</button>
    <p></p>
    <input style="display: none" id="user_id" value="<%= user.id %>">
    <br>
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="well footer">
                <p>BSUIR 2016</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
<script src="/js/main.js"></script>

</html>