<!doctype html>
<html>

<head>
    <title>Обучающий материал</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
<div class="user-name">
    <p><span class="fa fa-user"></span>
        <span>Здравствуйте, <%= user.email %></span>
        <a href="/logout" class="btn btn-success logout-btn">Выйти</a>
    </p>
</div>
<div class="container-fluid text-center">
    <h1>Теоритические материалы</h1>
    <div class="jumbotron text-center">

        <% if (user.toLearn != '') { %>
        <div class="row text-center">
            <div class="well">
                <strong>Рекомендованные к изучению главы:</strong>
                <p id="links">
                    <%= user.toLearn %>
                </p>
            </div>

        </div>
        <% } %>

        <div class="row">
            <div class="well theory">
                <a class="p-theory" href="https://www.math10.com/ru/vysshaya-matematika/matrix/matrix.html">1. Введение в матрицы</a>
            </div>
        </div>

        <div class="row">
            <div class="well theory">
                <a class="p-theory" href="http://ru.onlinemschool.com/math/library/matrix/type/">2. Виды матриц</a>
            </div>
        </div>

        <div class="row">
            <div class="well theory">
                <a class="p-theory" href="http://www.webmath.ru/poleznoe/formules_6_3.php">3. Операции над матрицами</a>
            </div>
        </div>

        <div class="row">
            <div class="well theory">
                <a class="p-theory" href="https://www.math10.com/ru/vysshaya-matematika/matrix/determinant.html">4. Определитель</a>
            </div>
        </div>

        <a href="/profile" class="btn btn-success">Вернуться к профилю</a>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <div class="well footer">
                <p>BSUIR 2016</p>
            </div>
        </div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
<script src="/js/main.js"></script>
<script>
    var el = $('#links');
    if (el.html() != undefined) {
        var links = el.html().split(' | ');
        el.empty();
        for (var i = 0; i < links.length; i++) {
            if (links[i].trim() != '') {
                el.append('<p class="p-theory">' + links[i] + '</p>');
            }
        }
    }
</script>
</html>