body {
    font-size: 200%;
}

.user-name {
    margin-left: 1%;
    float: right;
}

.matrix-task {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 0;
    border-radius: 10px;
}

.logout-btn {
    padding: 1px 6px;
    margin-right: 10px;
}

.autoriz {
    height: 100vh;
    margin-bottom: 0;
    padding-top: 25vh;
    background-color: #eee;
}

.autoriz-p {
    font-size: 50px;
}

.container-fluid {
    clear: both;
    width: 80%;
    margin: 0 auto;
}

.theory {
    padding: 10px 20px 5px;
    text-align: left;
}

.p-theory {
    margin-right: 0;
}

hr {
    margin: 0;
    border: 1px dotted white;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
    padding: 10px;
    background-color: #8BC34A;
    border-radius: 5px;
}

.matrix-title {
    padding: 0;
}

.btn-success {
    background-color: #8BC34A;
}

.btn-success:hover {
    background-color: #689F38;
}

.footer {
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 15px;
}

.btn-profile {
    background-color: #388E3C;
    color: white;
}